
@font-face {
    font-family: din-condensed-bold;
    src: url(DIN-Condensed-Bold.ttf);
}

html {
    background-color: #efefef;
}

.my_body {
    /*padding: 0px;*/
    background-color: transparent;
    /*margin-top: -20px;*/
}

.maplegend {
    position: fixed;
    margin-left: 40pt;
}

#page_title {
    font-family: din-condensed-bold;
    font-size: 60pt;
    letter-spacing: 4px;
}

#title_container {
    width: 100%;
    text-align: center;
}

.neighborhoodOutline {
    stroke: #282828;
    stroke-width: 1px;
    stroke: black;
    fill: none;
}

footer {
    padding-left: 100px;
}

.neighborhoodUnFocus {
    fill: white;
}

.neighborhoodFocus {
    fill: black;
}

/*.neighborhoodFocus.charSVGThing {*/
    /*stroke: white;*/
    /*fill: white;*/
/*}*/


.neighborhoodOutlineBorder {
    stroke: black;
    stroke-width: 5px;
}

/*#neighborhoodGroup:hover {*/
    /*opacity:0.5 ;*/
/*}*/

/*.neighborhood:hover {*/
    /*opacity: 1.0;*/
/*}*/

.mapcontainer {
    margin: auto;
    width: 600px;
}

.mapinfo {
    width: 100%;
    background-color: transparent;
    margin-bottom: 30pt;
    margin-top: 30pt;
}

.legendterm {
    overflow: hidden;
}

.legendtitle {
    font-size: 10pt;
}

#neighborhoodname, #neighborhoodphrase,
#neighborhoodcategory, #neighborhoodprice,
#neighborhoodreviewcount {
    font-size: 18pt;
}

#neighborhoodphrase {
    font-size: 24pt;
}

#name {
    height: 80pt;
}

#bestmatch {
    height: 80pt;
}

#category {
    height: 80pt;
}

#price {
    height: 80pt;
}

#reviewcount {
    height: 80pt;
}

.main {
    margin: auto;
}

#mapSVG {
    width: 100%;
}

.neighborhoodInnerPath {
    stroke-width: 3 px;
    stroke: black;
    fill: none;
}

.topPolyRed {
    stroke: #530605;
    fill: #c45a5e;
}

.topPolyBlue {
    stroke: white;
    fill: #0f3D66;
}

.rightPolyGreen {
    stroke: #004200;
    fill: #84ce6b;
}

.bottomPolyBlue {
    stroke: #00006a;
    fill: #9aa3f3;
}

.leftPoly {
    stroke: #350452;
    fill: #b376c4;
}

#my-foot {
    padding-left: 10px;
}