.neighborhoodOutline {
    stroke: #282828;
    stroke-width: 3px;
}

.neighborhoodOutlineBorder {
    stroke: black;
    stroke-width: 5px;
}

#mapContainer {
    position: relative;
    margin: auto;
}

#mapSVG {
    width: 100%;
}

.neighborhoodInnerPath {
    stroke-width: 3 px;
    fill: none;
}

.topPolyRed {
    stroke: #530605;
    fill: #c45a5e;
}

.topPolyBlue {
    stroke: white;
    fill: #0f3D66;
}

.rightPolyGreen {
    stroke: #004200;
    fill: #84ce6b;
}

.bottomPolyBlue {
    stroke: #00006a;
    fill: #9aa3f3;
}

.leftPoly {
    stroke: #350452;
    fill: #b376c4;
}