.neighborhoodOutline {
    stroke: #282828;
    stroke-width: 1px;
    fill: white;
}

.neighborhoodOutlineBorder {
    stroke: black;
    stroke-width: 5px;
}

.mapinfo {
    padding-top: 50pt;
    background-color: #efefef;
}

.legendterm {
    overflow: hidden;
}

.legendtitle {
    font-size: 13pt;
}

#neighborhoodname, #neighborhoodphrase {
    font-size: 26pt;
}

#name {
    height: 150pt;
}

#bestmatch {
    height: 200pt;
}

#categories {
    height: 200pt;
}

#price {
    height: 100pt;
}

#reviewcount {
    height: 100pt;
}

.main {
    margin: auto;
}

#mapSVG {
    width: 100%;
}

.neighborhoodInnerPath {
    stroke-width: 3 px;
    stroke: black;
    fill: none;
}

.topPolyRed {
    stroke: #530605;
    fill: #c45a5e;
}

.topPolyBlue {
    stroke: white;
    fill: #0f3D66;
}

.rightPolyGreen {
    stroke: #004200;
    fill: #84ce6b;
}

.bottomPolyBlue {
    stroke: #00006a;
    fill: #9aa3f3;
}

.leftPoly {
    stroke: #350452;
    fill: #b376c4;
}