
@font-face {
    font-family: din-condensed-bold;
    src: url(DIN-Condensed-Bold.ttf);
}

html {
    background-color: #efefef;
}

.my_body {
    /*padding: 0px;*/
    background-color: transparent;
    /*margin-top: -20px;*/
}

#page_title {
    font-family: din-condensed-bold;
    font-size: 60pt;
    letter-spacing: 4px;
}

#title_container {
    width: 100%;
    text-align: center;
}

footer {
    padding-left: 100px;
}

.neighborhoodUnFocus {
    fill: white;
}

.neighborhoodFocus {
    fill: black;
    stroke: white;
}

.neighborhoodFocus.charSVGThing {
    stroke: white;
    fill: white;
}


.neighborhoodOutlineBorder {
    stroke: black;
    stroke-width: 5px;
}

/*#neighborhoodGroup:hover {*/
    /*opacity:0.5 ;*/
/*}*/

/*.neighborhood:hover {*/
    /*opacity: 1.0;*/
/*}*/

.shapecontainer, .instructions_container {
    margin: auto;
    display: inline-block;
    vertical-align: top;
    padding-left: 10pt;
    padding-right: 10pt;
    text-align: left;
}

.instructions_container {
    padding-top: 20pt;
    margin: 0;
}

#input_container {
    padding-top: 20pt;
    text-align: left;
}

.shape {
    text-align: center;
}

#c {
    margin:auto;
}

.instruction {
    padding-top: 10pt;
    padding-bottom: 10pt;
    text-align: left;
    font-family: "Roboto Condensed", Helvetica, Arial, sans-serif;
    color: #bcbcbc;
    /*color: #505050;*/
    font-size: 15pt;
}

#instructions_1 {
    padding-top: 0pt;
    color: #505050;
}

.mapinfo {
    width: 100%;
    background-color: transparent;
    margin-bottom: 30pt;
    margin-top: 30pt;
}

#phrase_input {
    background: none;
}

.shape_point {
    r: 3px;
}

* { box-sizing:border-box; }

/* basic stylings ------------------------------------------ */
body 				 {  }
.container 		{
    font-family:'Roboto Condensed';
    width:600px;
    margin:30px auto 0;
    display:block;
    background:none;
    padding:10px 50px 50px;
}
h2 		 {
    text-align:center;
    margin-bottom:50px;
}
h2 small {
    font-weight:normal;
    color:#888;
    display:block;
}

/* form starting stylings ------------------------------- */
.group 			  {
    position:relative;
    margin-bottom:45px;
    display: inline-block;
}
input 				{
    font-size:18px;
    padding:10px 10px 10px 5px;
    display:inline-block;
    width:300px;
    border:none;
    border-bottom:1px solid #757575;
    font-family: "Roboto Condensed";
}
input:focus 		{ outline:none; }

#submit_button {
    width: 100px;
}

/* LABEL ======================================= */
label 				 {
    color:#999;
    font-size:18px;
    font-weight:normal;
    font-family: "Roboto Condensed";
    position:absolute;
    pointer-events:none;
    left:5px;
    top:10px;
    transition:0.2s ease all;
    -moz-transition:0.2s ease all;
    -webkit-transition:0.2s ease all;
}

/* active state */
input:focus ~ label, input:valid ~ label 		{
    top:-20px;
    font-size:14px;
    color:#5264AE;
}

/* BOTTOM BARS ================================= */
.bar 	{ position:relative; display:block; width:300px; }
.bar:before, .bar:after 	{
    content:'';
    height:2px;
    width:0;
    bottom:1px;
    position:absolute;
    background:#5264AE;
    transition:0.2s ease all;
    -moz-transition:0.2s ease all;
    -webkit-transition:0.2s ease all;
}
.bar:before {
    left:50%;
}
.bar:after {
    right:50%;
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
    width:50%;
}

/* HIGHLIGHTER ================================== */
.highlight {
    position:absolute;
    height:60%;
    width:100px;
    top:25%;
    left:0;
    pointer-events:none;
    opacity:0.5;
}

/* active state */
input:focus ~ .highlight {
    -webkit-animation:inputHighlighter 0.3s ease;
    -moz-animation:inputHighlighter 0.3s ease;
    animation:inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
    from { background:#5264AE; }
    to 	{ width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
    from { background:#5264AE; }
    to 	{ width:0; background:transparent; }
}
@keyframes inputHighlighter {
    from { background:#5264AE; }
    to 	{ width:0; background:transparent; }
}

.legendterm {
    overflow: hidden;
}

#bestmatch, #name {
    margin-bottom: 5pt;
    margin-top: 5pt;
}

.legendtitle {
    font-size: 10pt;
    margin-bottom: 3pt;
    margin-top: 3pt;
}

#neighborhoodname, #neighborhoodphrase,
#neighborhoodcategory, #neighborhoodprice,
#neighborhoodreviewcount {
    font-size: 18pt;
    margin-bottom: 3pt;
    margin-top: 3pt;
}

#neighborhoodphrase {
    font-size: 24pt;
}

#name, #bestmatch,
#category,
#price,
#reviewcount {
    height: 50pt;
}

.main {
    margin: auto;
}

#mapSVG {
    width: 100%;
}

.neighborhoodInnerPath {
    stroke-width: 3 px;
    stroke: black;
    fill: none;
}

.topPolyRed {
    stroke: #530605;
    fill: #c45a5e;
}

.topPolyBlue {
    stroke: white;
    fill: #0f3D66;
}

.rightPolyGreen {
    stroke: #004200;
    fill: #84ce6b;
}

.bottomPolyBlue {
    stroke: #00006a;
    fill: #9aa3f3;
}

.leftPoly {
    stroke: #350452;
    fill: #b376c4;
}

#my-foot {
    padding-left: 10px;
}